body {
 border: none;
 margin: 0; 
 padding 0; //right bottom left
 background-color: pink; //#F2F2F2
 font-size: 1rem;
 line-height: 1.5;
 
 
}

.home-contain{
  //float: left;
  
  //max-width: 1080;
  //min-width 720px
  min-height 1080px;
  margin: 0;
  padding 0; //top right bottom left
  background-color #667566;
  position relative;
  
}

.main {
  
  float: left;
  max-width: 70%;
  margin 1em 0 1em 1em;//top right bottom left

}

@import "_partial/topnav";
@import "_partial/header";
@import "_partial/post";
@import "_partial/paginator";
@import "_partial/archive";
@import "_partial/footer";
@import "_partial/about";
@import "_partial/L-Box";