body {
 border: none;
 margin: 0; 
 background-color: pink; //#F2F2F2
 font-size: 1.25rem;
 line-height: 1.5;
 
 
}

.home-contain{
  float: left;
  
  max-width: 80%;
  min-height 900px;
  margin: 10% 10% 10% 10%;
  background-color black;
  position relative;
}

.main {
  float: left;
  max-width: 60%;
  margin-left: 5%;

}

@import "_partial/topnav";
@import "_partial/header";
@import "_partial/post";
@import "_partial/paginator";
@import "_partial/archive";
@import "_partial/footer";
@import "_partial/about";
@import "_partial/L-Box";