.page-nav{
    text-align: center;
    font-size: 1em; //字体大小
    padding: .5em;
    margin: 2em 0; //与文章底部间隔
    font-weight: bold;
    & > *{
        margin-right: .5em;
        padding: .5em;
        
        text-decoration: none;
    }
    a:active,a:link,a:visited{
        color: blue-color;
    }
    .current{
        color: #333;
    }
}